
// https://joshuatz.com/posts/2019/coding-a-css-theme-switcher-a-multitude-of-web-dev-options/
// https://medium.com/swlh/dark-mode-using-css-variables-cf065a7fa133
$color-bg: #FFFFFF;
$color-primary: #2e3e57;
$color-accent: #e1dd72;