@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
  font-family: 'Oxygen', sans-serif;
  background: $color-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: $color-primary;
}

* {
  box-sizing: border-box;
}

.clickable, .button {
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;

  .icon {
    height: 1.5em;
    padding: 0 .25em;
  }

  &:hover {
    color: $color-accent;
  }
}

a {
  color: mix($color-primary, $color-bg, 70%);
  text-decoration: none;
  transition: color .2s;

  &:hover {
    color: $color-primary;
  }
}