
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body {
  font-family: 'Oxygen', sans-serif;
  background: lightsalmon;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #683b29;
  margin-top: 25vh;
}
